*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  margin: 0;
  font-family: sans-serif; }

textarea {
  resize: vertical;
  min-height: 80px; }

@media (orientation: landscape) {
  textarea {
    resize: none; } }

@media (orientation: landscape) {
  .textmoji-generator {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
    .textmoji-generator > .cell {
      -webkit-box-flex: 1;
          -ms-flex: auto;
              flex: auto;
      width: 0;
      height: 100%;
      position: relative; } }

.form-fieldset {
  padding: 0;
  border: none;
  margin: 0; }
  .form-fieldset > .legend {
    padding: 1em 1em 0;
    font-size: 2em; }
  .form-fieldset > .contents > .container {
    padding: 2em; }

@media (orientation: landscape) {
  .form-fieldset {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .form-fieldset > .contents {
      -webkit-box-flex: 1;
          -ms-flex: auto;
              flex: auto;
      position: relative; }
    .form-fieldset > .contents > .container {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0; } }

@media (orientation: landscape) {
  .form-collection {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 100%; }
    .form-collection.-vertical {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; } }

.form-group > .input > .control {
  display: block;
  width: 100%;
  min-width: 100%;
  max-width: 100%; }

.form-group.-select-all > .input > .control {
  -webkit-user-select: all;
     -moz-user-select: all;
      -ms-user-select: all;
          user-select: all; }

.form-group > .feedback {
  text-align: right; }

@media (orientation: landscape) {
  .form-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .form-group.-fill {
      -webkit-box-flex: 1;
          -ms-flex: auto;
              flex: auto; }
    .form-group > .input {
      -webkit-box-flex: 1;
          -ms-flex: auto;
              flex: auto;
      position: relative;
      min-height: 2em; }
    .form-group > .input > .control {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0; }
    .form-group > .children {
      position: relative; }
    .form-group.-vertical + .form-group {
      margin-top: 1em; }
    .form-group.-horizontal + .form-group {
      margin-left: 1em; } }
